.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 20px 30px;
}

.navbar .logo {
  font-size: 24px;
  font-weight: 700;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin-left: 30px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 400;
  padding: 5px 10px;
  position: relative;
  transition: color 0.3s, background-color 0.3s;
}

.navbar ul li a:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
}
.avatar {
  width: 40px;
  height: 40px;
  background-color: #00bcd4; /* Adjust color */
  color: white;
  font-weight: bold;
  border-radius: 50%; /* Makes it circular */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-transform: uppercase; /* Ensures the letter is capitalized */
}